body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(61, 61, 61);
}

canvas {
   border: 8px double white;
}
